$font-stack: Helvetica, sans-serif;
$color-white: #FFFFFF;
$color-black: #333333;
$color-dark-gray: #AAAAAA;
$color-light-gray: #D9D9D9;
$button-blue: #36B8EE;
$button-blue-hover: #008FD3;
$button-blue-active: #0076CB;
$color-error-red: #B94A48;