$font-stack: Helvetica, sans-serif;
$color-white: #FFFFFF;


$background-color: #efefef;
$header-color: #1E88E5;
$select-color: #64B5F6;

$left-margin-width: 228px;

html, body, #wrapper, .content-box, .content {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, span, label {
    font-family: $font-stack;
}

body {
    background-color: $background-color;
}

.padding-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.content-box {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
}

.vehicle-info {
    padding-top: 10px;

    .label-group {
        margin-bottom: 10px;
    }

    label, span {
        color: #212121;
    }

    label {
        font-size: 16px;
        margin-right: 5px;
    }

    span {
        font-size: 14px;
    }
}