$color-navy-blue: #5D88AF;

#navigation-panel {

    #nav-user-wrap {
        height: 96px;
        padding: 31px 0 31px 20px;
    }

    #user-title-wrap {
        & > div {
            display: inline-block;
        }

        .nav-user-initial {
            height: 34px;
            width: 34px;
            background-color: #1E6FB0;
            border-radius: 50%;
            text-align: center;

            span {
            	color: $color-white;
                fill: $color-white;
                line-height: 34px;
                vertical-align: middle;
            }
        }

        .nav-user-fullname {
        	margin-left: 10px;
        	h3 {
        		color: $color-dark-gray;
        	}
        }
    }

    #nav-menu {
        .nav-menu-list {
            list-style-type: none;
            padding-left: 0;

            li {
                height: 48px;
                line-height: 48px;

                &:hover {
					background-color: $color-navy-blue;
					a span {
						color: $color-white;
					}
				}

				&.no-hover:hover {
                	background-color: $color-white;
                	a span {
                		color: $color-dark-gray;
                	}
                }

                &.nav-list-lv-1 span {
            		font-weight: 600;
            		margin-left: 20px;
            		font-size: 14px;
            		font-family: $font-stack;
            		color: $color-dark-gray;
                }



                &.nav-list-lv-2 {
                	padding-left: 20px;
                	span {
	            		font-weight: 400;
	            		margin-left: 20px;
	            		font-size: 14px;
	            		font-family: $font-stack;
	            		color: $color-dark-gray;
	            	}
                }

            }
        }
    }
}